{
  "presets": [
    ["env", {
      "debug": false,
      "modules": "commonjs",
      "targets": {
        "browsers": [
          "Chrome >= 49",
          "Explorer 11"
        ],
        "node": "current"
      },
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "lodash"
  ]
}