<div id="control-region" hidden>
  <div id="settings-dialog" hidden>
    <h3>Settings</h3>
    <table>
      <tbody>
        <tr>
          <th>Player</th>
          <th>Name</th>
          <th>Level</th>
        </tr>
        <tr>
          <td>Player 1(you):</td>
          <td class="player-set-name one" contentEditable></td>
        </tr>
        <tr>
          <td>Player 2(East):</td>
          <td class="player-set-name two" contentEditable></td>
          <td class="player-diff two">
            <input type="number" min="1" max="4">
          </td>
        </tr>
        <tr>
          <td>Player 3(North):</td>
          <td class="player-set-name three" contentEditable></td>
          <td class="player-diff three">
            <input type="number" min="1" max="4">
          </td>
        </tr>
        <tr>
          <td>Player 4(West):</td>
          <td class="player-set-name four" contentEditable></td>
          <td class="player-diff four">
            <input type="number" min="1" max="4">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="back-but">Back</button>
  <button class="newgame-but">Apply</button>
</div>